RFIsim.egg-info
output_data/
notebooks/
utils/telescope/beam_sim/beams/
utils/astronomical/catalogues/originals/
utils/rfi/rfi_spectra/spectra_images/
montblanc.log*
*.txt
*.pyc
*.lsm
*.csv
*.ipynb
*.ipynb_checkpoints
*.h5
*.tle
Leap_Second.dat
deltat.data
deltat.preds

