notebooks/
utils/sat_sim/sat_spectra/sat_spectra.npy
utils/sat_sim/sat_spectra/spectra_images
utils/beam_sim/beams/
/utils/catalogues/NVSSCatalog*
/utils/catalogues/sumsscat.Mar-11-2008*
montblanc.log
*.pyc
*.lsm
*.csv
*.ipynb
*.ipynb_checkpoints
*.h5
