output_data/
notebooks/
utils/telescope/beam_sim/beams/
utils/astronomical/catalogues/originals/
utils/rfi/sat_sim/sat_spectra/spectra_images/
montblanc.log*
*.pyc
*.lsm
*.csv
*.ipynb
*.ipynb_checkpoints
*.h5
